.App {
  font-family: sans-serif;
  text-align: center;
  background-color: burlywood;
}
body {
  background-color: tomato;
}

.heading {
  color: black;
  background-color: gray;
}
button {
  border: 2px solid black;
}
button:hover,
li:hover {
  background-color: gray;
  color: white;
  cursor: pointer;
}
ul {
  list-style-type: none;
}
